html {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
}

a {
    color: rgb(168, 167, 167);
    text-decoration: none;
}