html {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar div {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    font-size: 13px;
    color: #a8a7a7;
    text-decoration: none;
}