html {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #a8a7a7;
    text-decoration: none;
}